:root {
  --main-color: #ffffff;
  --secondary-color: rgb(255, 255, 255);
  --table-line-color: #ffffff;
  --font-main: "Roboto", sans-serif;
  --font-size-base: 1rem;
  --font-size-large: 2rem;
  --font-size-small: 0.75rem;
  --border-radius: 8px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  line-height: 1.6;
  font-size: 10px;
}

.container {
  max-width: 96%;
  margin: 20px auto;
  padding: 10px;
  background-color: #000000d4;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

h1 {
  font-size: var(--font-size-large);
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1em;
  color: var(--main-color);
  transition: color 0.3s ease-in-out;
}

h1:hover {
  color: #fffefe;
  text-shadow: 0 0 5px #ecf0f1, 0 0 10px #5f4e4e, 0 0 15px #ecf0f1;
  cursor: pointer;
  transform: scale(1.00);
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 1em;
}

.tbl-header {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.tbl-content {
  overflow-y: auto;
  border: 1px solid var(--table-line-color);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

th {
  padding: 1em;
  text-align: center;
  font-weight: 500;
  font-size: var(--font-size-small);
  text-transform: uppercase;
  transition: background-color 0.0s ease-in-out;
  border-bottom: solid 1px var(--table-line-color);
  color: black;
  cursor: pointer;
}

th:hover {
  color: #000000;
  cursor: pointer;
  background-color: rgb(154, 252, 203);
}

td {
  padding: 1em;
  text-align: center;
  font-weight: lighter;
  border-bottom: solid 1px var(--table-line-color);
}

@media (max-width: 991px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
  }

  table {
    table-layout: auto;
    width: 100%;
    margin-top: 1em;
  }

  th, td {
    display: block;
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid transparent;
    margin-bottom: 10px;
    transition: background-color 0.3s;
  }

  th:hover, td:hover {
    background-color: #000000;
    color: #ffffff;
  }

  td:last-child {
    border-bottom: 1px solid var(--table-line-color);
    margin-bottom: 0;
  }
}

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 12px;
}

/* Estilo para el riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #333;
  border-radius: 8px;
}

/* Estilo para el pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 8px;
}

/* Cambia el color del pulgar al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

/* Estilo para los botones de inicio y fin de la barra de desplazamiento */
::-webkit-scrollbar-button {
  display: none;
}












